@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  /* theme serve per definire i colori e i font dell'applicazione */
  --font-family: 'Montserrat Alternates', sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --color-primary: #f75e25;
  --color-secondary: #646cff;
  --color-background: #000000;
  --color-text: #ffffff;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--color-primary);
}